#main-heading {
    color: blue !important;
}

.subtitle-text {
    color: red !important;
}




[data-testid="stToolbar"] {
    display: none !important;
}

header {
    display: none !important;
}

.stAppDeployButton,
[data-testid="stStatusWidget"],
div[class*="viewerBadge"] {
    display: none !important;
}

footer {
    display: none !important;
}